* {
    font-family: 'Share Tech Mono', monospace;
    text-decoration: none;
    background-color: black;
    color: greenyellow;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav-items {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.nav-items a {
    margin: 20px;
}

.navbar a {
    background-color: black;
}

.login-form-container {
    text-align: center;
    box-shadow: 5px 2px 5px 2px gray;
    min-width: none;
    padding: 20px 60px 20px 60px;
}

.row-home {
    display: flex;
    justify-content: center;
    padding: 20px;
}

/* 
.login-form-container */